*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100vw;
  height: 100vh;
}

.page-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  opacity: 0;
}

.container{
  width: 70%;
  border: 2px solid red;
  height: 70%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 2rem; */
}

.msg-box{
  width: 40%;
  height: 100%;
  position: relative;
}

.login_msg, .signup_msg{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 3rem;
  padding: 3rem;
}

.form-box {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_box, .signup_box{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 3rem;
  padding: 3rem;
}

.login_box form , .signup_box form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.login_box form input, .signup_box form input {
  width: 50%;
}